name: Test downloading and extracting test archives

permissions:
  contents: read

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-archives:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        archive:
          - file: test.tar
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.tar
          - file: test.tar.bz2
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.tar.bz2
          - file: test.tar.gz
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.tar.gz
          - file: test.tar.xz
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.tar.xz
          - file: test.tar.zst
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.tar.zst
          - file: test.tbz2
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.tbz2
          - file: test.tgz
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.tgz
          - file: test.txz
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.txz
          - file: test.zip
            url: https://github.com/zenless-lab/source-images/releases/download/test-archives/test.zip

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image for testing
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: unpacked
          push: false
          load: true
          tags: ${{ matrix.archive.file }}:unpacked
          build-args: |
            DOWNLOAD_URL=${{ matrix.archive.url }}
            FILE_NAME=${{ matrix.archive.file }}
            ARIA2_OPTIONS=-x 16 -s 16

      - name: Build source stage image for testing
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: source
          push: false
          load: true
          tags: ${{ matrix.archive.file }}:source
          build-args: |
            DOWNLOAD_URL=${{ matrix.archive.url }}
            FILE_NAME=${{ matrix.archive.file }}
            ARIA2_OPTIONS=-x 16 -s 16

      - name: Verify downloaded files
        run: |
          id=$(docker create ${{ matrix.archive.file }}:source /dummy)
          docker cp $id:/ ./_downloaded_files
          docker rm -v $id
          if [[ ! -f ./_downloaded_files/${{ matrix.archive.file }} ]]; then
            echo "${{ matrix.archive.file }} not found!" >&2
            exit 1
          fi
          size=$(stat -c%s "./_downloaded_files/${{ matrix.archive.file }}")
          if [[ "$size" -le 0 ]]; then
            echo "${{ matrix.archive.file }} is empty!" >&2
            exit 1
          fi
          file_count=$(find ./_downloaded_files -type f | wc -l)
          if [[ "$file_count" -ne 1 ]]; then
            echo "Unexpected number of files found: $file_count" >&2
            exit 1
          fi
      - name: Verify unpacked files
        run: |
          id=$(docker create ${{ matrix.archive.file }}:unpacked /dummy)
          docker cp $id:/ ./_unpacked_files
          docker rm -v $id
          if [[ ! -f ./_unpacked_files/hello.txt ]]; then
            echo "hello.txt not found!" >&2
            exit 1
          fi
          if [[ ! -f ./_unpacked_files/world.txt ]]; then
            echo "world.txt not found!" >&2
            exit 1
          fi
          file_count=$(find ./_unpacked_files -type f | wc -l)
          if [[ "$file_count" -ne 2 ]]; then
            echo "Unexpected number of files found: $file_count" >&2
            exit 1
          fi
          